//New home

//Variables generales a exportar luego

@gris: #ccc;
@gris_oscuro: #807F83;
@cchl_headings_font: 'Signika', sans-serif;
@azul_menu: #2371BF;
@azul_iconos: #46A2F5;
@cchl_naranjo: #FF8100;
@max_navbar_width: 1160px;

@facebook: #3B5998;
@twitter: #1DA1F2;
@instagram: #D42F8A;

@import '/bs-home/cchl-bootstrap.less';
@import '/bs-home/cchl-noticias-home.less';
@import '/bs-home/cchl-eventos-home.less';
@import '/bs-home/cchl-footer.less';


.top-utils {
    background-color:white;
    font-family:'Signika', sans-serif;
    text-transform: uppercase;
    border-radius:0;
    border:0;
    margin:0 auto;
    max-width:@max_navbar_width;

    .navbar-header {
        margin-right:24px;
        img {
            margin:14px 0 0 14px;
        }

        img.logo-default {
            margin:14px 0 14px 14px;
        }
    }

    .navbar-collapse.top-navbar-default {
        padding-top:36px;
    }

    .buscador-cabecera {
        .input-group-addon {
            padding:0;
            background-color:#C0C0C0;
        }
    }

    li.redes {
        font-size:24px;
        a {
            padding:12px;
        }
    }
}


.special {
    background-color:white;
    text-align:center;
    .container {
        background-color:white;
    }
    img {
        margin:0 auto;
        max-width:100%;

        .special {
            border-bottom:1px solid #ccc;
        }
    }
}



.main-navbar {
    border-radius:0;
    background-color:transparent;
    color:white;
    font-family:'Signika', sans-serif;
    text-transform:uppercase;
    border:0;
    margin:0 auto;
    max-width:@max_navbar_width;
    border:0;
        .dropdown-menu {
            background-color:@azul_menu;
            a {
                color:white;
                padding:8px 16px;
                border-bottom:1px dotted white;
                text-transform:none;
                &:hover {
                    background-color:lighten(@azul_menu, 7%);
                    color:white;
                }
            }
        }
}

.main-navbar-background {
    background-color: @gris_oscuro;
}

h1.home-section-title {
    margin-top:0;
    margin-bottom:12px;
    color:darken(@azul_iconos, 20%);
    font-size:24px;
    text-transform:uppercase;
}

.accesos {
    margin-top:36px;
    a {
        overflow:hidden;
        i {
            color:@azul_iconos;
        }
        h4 {
            font-weight:normal;
            font-size:14px;
            text-transform: uppercase;
            color:@gris_oscuro;
            margin-top:16px;
        }
    }
}

.fotos-flickr {
    padding:0;
    margin-right:12px;

    h2 {
        color:#FF1981;
    }

    iframe {
        max-width:100%;
        overflow:hidden;
    }
}

.videos {
    padding:0;
    h2 {
        color:#E62117;
    }
}

.flex-row {
    display:flex;
    justify-content:space-between;
}

.redes-row {
    display:flex;
    justify-content:space-between;
}

.redes.row > .col-md-3 {
    padding:0;
    overflow:hidden;
    margin-right:6px;
    iframe {
        max-width:100%;
    }
}

.facebook-box {
    h3 {
        background-color:@facebook;
        color:white;
        font-size:14px;
        font-weight:500;
        text-transform:uppercase;
        padding:12px 6px;
        margin-bottom:0;
    }
}

.twitter-box {
    h3 {
        background-color:@twitter;
        color:white;
        font-size:14px;
        font-weight:500;
        text-transform:uppercase;
        padding:12px 6px;
        margin-bottom:0;
    }
}

.instagram-box {
    h3 {
        background-color:@instagram;
        color:white;
        font-size:14px;
        font-weight:500;
        text-transform:uppercase;
        padding:12px 6px;
        margin-bottom:0;
    }
}

@media screen and (max-width:@grid-float-breakpoint-max) {

    .special {
        border-bottom:1px solid #ccc;
    }

    .main-navbar-background {
        background-color:white;
        color:#333;
        border-bottom:1px solid @gris;
    }

    .main-navbar .navbar-toggle {
        background-color:white;
        border:2px solid @azul_menu;
        border-radius:4px;

        &:hover, &:focus {
            background-color:white;
        }
        
        .icon-bar {
        background-color:@azul_menu;
            }

        }

    .main-navbar .navbar-nav > li > a {
        color:#333;
        padding:12px 36px;
        font-size:18px;
        border-bottom:1px solid #f0f0f0;
    }

    .main-navbar .navbar-nav .open .dropdown-menu > li > a {
        color:#555;
        padding:12px 36px 12px 48px;
        font-size:18px;
        border-bottom:1px solid #f0f0f0;
    }

    .article-news-wide {
        margin-top:0;
    }

    .flex-row, .eventos.row {
        display:block;
    }

    .evento-home-mini {
        margin-bottom:12px;
    }

    .article-news-half {
        .content {
            padding:0 12px;
        }
        &.news-left {
            margin-right:0;
        }
    }

}

.extra-mobile-nav {
    li.redes a {
        display:inline-block;
        margin:0 6px;
        border-bottom:0;
        color:#555;
    }
}