/* Extra mailchimp */

#mc_embed_signup{
			background:#f0f0f0;
			clear:left;
			font:14px Helvetica,Arial,sans-serif; 
			width:400px;
		}
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		#mc_embed_signup .clear {
			height:auto;
			width:auto;
			overflow:visible;
			visibility: visible;
		}

		#mc_embed_signup #mc-embedded-subscribe-form .button {
			background-color:#004F95;
		}

/*
Extra CSS para cámara
*/



/* Header Filsa */

#header {
	position:relative;
	height:160px;
}

#topmenu-principal {
	position:absolute;
	bottom:0;
}

h1#mainlogo, h2#filsa2014 a, h2#ferias a {
	position:absolute;
	top:10px;
}

h1#mainlogo {
	width:284px;
	left:12px;
}

h2#filsa2014 a {
	display:block;
	width:340px;
	height:84px;
	text-indent:-9999em;
	background:url(../img/filsa2014/filsa_logo_amarillo.png);
	left:280px;
	top:28px;
}

h2#ferias a {
	display:block;
	width:340px;
	height:108px;
	text-indent:-9999em;
	background:url(../img/fil-vina/banner-filvina.png);
	left:280px;
	top:20px;	
}

#header .buscador {
	position:absolute;
	left:330px;
	top:60px;
}

/*Página presidentes */

.page-template-page-observatorio-integrantes-php #presidentes ul li {
	width:100%;
	float:none;
	margin-bottom:12px;
	padding-bottom:12px;
	overflow:hidden;
}

.page-template-page-observatorio-integrantes-php #presidentes ul li .info {
	width:520px;
}

.page-template-page-observatorio-integrantes-php #presidentes ul li div.textoint {
	margin-top:12px;
}

.page-template-page-observatorio-integrantes-php #presidentes ul li h3 {
	font-size:20px;
	font-weight:normal;
}

/* Colaboradores */

/* Colaboradores */

#content .colabs {
	margin:24px 0 24px 0;
	padding:0;
	clear:both;
	overflow:hidden;
}

.colabs li {
	width:212px;
	float:left;
	overflow:hidden;
	list-style:none;
	border-bottom:1px dotted #ccc;
	height:110px;
	margin-right:10px;
	padding-bottom:10px;
	display:block;
	margin-bottom:24px;
}

.colabs.invita li {
	margin-left:33%;
}

#content #colabs-filsa h3 {
	text-transform:uppercase;
	margin-bottom:24px;
	color:#333;
	text-align:center;
}

.colabs li img {
	float:left;
	margin-right:12px;
	width:80px;
	height:80px;
}

#content .colabs li h3 {
	font-size:13px;
	color:#14499b;
	font-weight:normal;
}

/* CSS Tribe events */

.tribe-events-sub-nav li a span {
	font-size:24px;
}


/* Esconder metadata calendario */

dt.event-label.event-label-updated,
dd.event-meta.event-meta-updated span
 {
	display:none;
}

.event-label.event-label-venue,
.event-meta.event-meta-venue,
.tribe-events-meta-group-venue
 {
	display:block;
}

/* Elementos inútiles del calendario */

.tribe-events-cal-links {
	display:none;
}

/* Categoría sin links */

.pastillaNoticias .info h3.nolink {
	color:#000;
}

/* Agenda */

#content-home .agenda h2 {
	margin-bottom:0;
}

.agenda .caja {
	margin-top:12px;
}

.page-id-33775 .wp-post-image {
	float:right;
}