body#feria {

	.filsa-header-mobile {
		height:121px;
	}

	.mobile-menu-filsa {
		top:121px;
		margin-top:122px;
	}

	.triggernav.confondo {
		background-color:rgba(0, 0, 0,0.7);
		border-radius:0;
		margin-left:4px;
	}

	&.page-template-page-feria-principal {
		#bread {
			display:none;
		}

		.filsa-header {
			margin-bottom:24px;
		}
	}


	.filsa-header-mobile img {
		min-width:100%;
	}

	#sidebar_interior.menu-feria-especial {

		margin-top:32px;

		ul li ul.sub-menu {
			padding:0 0 0 12px;
			display:block;
		}

		ul li .sub-menu li a {
			padding:6px 0;
		}

		div > ul > li:first-of-type > a {
			background-image:none;
			background-color:#F8547E;
			color:white;
			font-size:18px;
			text-transform:uppercase;
			padding:12px 0 6px 15px;
			height:auto;

			&:before {
				content: '\f015';
				color: #333;
				font-family: 'FontAwesome';
				font-size: 17px;
				margin-left: -4px;
				margin-right: 4px;
				vertical-align: middle;
				font-weight: normal;
			}
		}
	}

	@media screen and (max-width:480px) {
		div#main-page.container_16.cf {
			margin-top:0;
		}

		div#content h1.post-title {
			margin-bottom:0;
		}
	}
}

//Calendario ferias móvil

.new_grid_12 {
	width:689px;
	float:left;
}

@media screen and (max-width:480px) {

	.new_grid_12 {
		width:96%;
		float:none;
	}

}

/* Header cámara */

.camara-header-filsa {
	background-color:#F8F8F8;
	color:#333;
	height:35px;
	box-shadow:0px 0px 10px #555;
	z-index:10;
}

.camara-header-filsa a {
	color:#6c6c6c;
	line-height:30px;
}

.camara-header-filsa .wrapchf {
	width:960px;
	margin:0 auto;
	padding:3px 12px 0 12px;
}

.camara-header-filsa img {
	float:left;
	margin:3px 10px 0 12px;
}

.camara-header-filsa div.feriaslink {
	margin-top:1px;
	margin-right:124px;
	float:right;
}

.camara-header-filsa div.feriaslink a {
	color:#333;
	font-size:14px;
	text-transform:uppercase;
}

// .camara-header-filsa div.feriaslink a:hover {
// 	text-decoration:underline;
// }	
