body#feria {

	.filsa-header-mobile {
		height:121px;
	}

	.mobile-menu-filsa {
		top:121px;
		margin-top:122px;
	}

	.triggernav.confondo {
		background-color:rgba(0, 0, 0,0.7);
		border-radius:0;
		margin-left:4px;
	}

	&.page-template-page-feria-principal {
		#bread {
			display:none;
		}

		.filsa-header {
			margin-bottom:24px;
		}
	}


	.filsa-header-mobile img {
		min-width:100%;
	}

	#sidebar_interior.menu-feria-especial {

		margin-top:32px;

		ul li ul.sub-menu {
			padding:0 0 0 12px;
			display:block;
		}

		ul li .sub-menu li a {
			padding:6px 0;
		}

		div > ul > li:first-of-type > a {
			background-image:none;
			background-color:#F8547E;
			color:white;
			font-size:18px;
			text-transform:uppercase;
			padding:12px 0 6px 15px;
			height:auto;

			&:before {
				content: '\f015';
				color: #333;
				font-family: 'FontAwesome';
				font-size: 17px;
				margin-left: -4px;
				margin-right: 4px;
				vertical-align: middle;
				font-weight: normal;
			}
		}
	}

	@media screen and (max-width:480px) {
		div#main-page.container_16.cf {
			margin-top:0;
		}

		div#content h1.post-title {
			margin-bottom:0;
		}
	}
}

//Calendario ferias móvil

.new_grid_12 {
	width:689px;
	float:left;
}

@media screen and (max-width:480px) {

	.new_grid_12 {
		width:96%;
		float:none;
	}

}
