//Estilos para filsa 2016

.accesos-rapidos.filsa-2016 {

	margin-top:32px;
	
	ul li a {
		background-color: #05D6C9;
		color: darken(#05D6C9, 30%);
		font-weight:bold;
		padding:10px 8px;
		font-size:13px;
		width: 150px;
		border-radius:5px;
		vertical-align:middle;
		transition:all ease-in 0.2s;
		margin:3px;
		
		&:hover {
			background-color: #FE3B82;
			color:white;
		}

		@media screen and (max-width: @screen-sm ) {
			
			width:40%;
			margin:1%;
			padding:2%;

		}
	}


}

