// Filsa 2015

//colores principales
@rojo: #E92141;
@naranjo: #ECB400;
//@naranjo: #EFAC50;
@azul: #0074B5;
@amarillo: #F9EC87;
@verde: #00A674;

//Breakpoint
@scrbr: 768px;

body.page-id-108 {
	
}

.banner_home_filsa {
	margin:12px 10px;
}

.header__logofilsa {
	position: absolute;
	top:18px;
	left:260px;
	//background-color: #F0C016;
	//padding: 6px;
}

body.page-id-55977 {
	#content .colabs {
		li {
			height:155px;
			width:330px;
			img {
				width:130px;
				height:auto;
			}
			h3 {
				color:#333;
			}
		}
	}
}

.colabheading {
	text-align:center;
}

#content ul.colabs.aups, #content ul.colabs.invs {
	margin:24px auto;
	max-width:330px;
}

#content div.invitados-filsa {
	clear:both;
	padding-top:24px;
	ul.cf {
		li {
			width:auto;
			min-height:200px;
			border-bottom:1px dotted #B3B3B3;
			padding:20px 0;
			overflow:hidden;
			img {
				float:left;
			}

			h3 {
				margin-bottom:12px;
				font-size:18px;
				color:#00549E;
			}
			.info {
				width:480px;
				margin-left:20px;
				float:right;
			}
			.textoint {
				p {
					text-align:justify;
				}
			}
		}
	}
}

body#filsa-2015 {
	font-size:16px;
	.wrapredes {
		top:308px;
		.redes-sociales {
			background-color:transparent;
			margin-left:632px;
		}
	}

	#content {
		h1.post-title {
			margin-bottom:10px;
			padding-bottom:0;
			font-size:28px;
			font-weight:600;
		}

		.linksInteres {
			margin:0 24px 12px 0;
			
			padding-bottom:12px;
			h1 {
				font-size:18px;
				text-transform:none;
			}
		}
		
		.the-content {
			clear:both;
			p {
				font-size:16px;
			}

			h1 {
				font-size:23px;
				margin-bottom:12px;
			}

			h2 {
				font-size:20px;
				margin-bottom:16px;
			}

			h3 {
				font-size:18px;
				margin-bottom:12px;
			}

			.wp-caption-text {
				font-family:sans-serif;
				font-size:13px;
				margin-top:6px;
				color:#555;
			}

			.wp-caption a {
				border-bottom:none;
				&:hover {
					border-bottom:none;
				}
			}

			a {
				color:#147FDF;
				border-bottom:1px dotted #147FDF;
				&:hover {
					text-decoration:none;
					border-bottom:1px solid #147FDF;
				}
			}



			strong {
				color:#175892;
			}

			table {
				tr {
					td {
						border-bottom:1px solid #ccc;
						padding:3px 0 6px 0;
							}
				}
			}
		}
		h1 {
			color:#0175C0;
			text-transform:uppercase;
		}
	}
	#sidebar_interior.filsa-2015 {
		margin-top:24px;
		ul.menu {
			> li.current_page_ancestor,
			> li.current_page_item,
			> li.current_cat,
			> li.current-cat-parent,
			> li.menu-item-54759
			 {
				> a {
					background-image:none;
					//background-color:#D7DF5F;
					background-color:@naranjo;
					color:black;
					//border-top:6px solid #F4DBA4;
					font-size:24px;
					padding-bottom:13px;
					font-weight:600;
					padding-left:16px;
					&:before {
						content:'\f015';
						color: #000;
						font-family:'FontAwesome';
						font-size:17px;
						display:inline-block;					
						margin-left:-4px;
						margin-right:4px;
						vertical-align:middle;
						font-weight:normal;
					}
				}
			}

			li.menu-item-54759 {
				margin-bottom:32px;
				ul.sub-menu {
					background-color:fade(@azul, 20%);
					padding:0;
					margin:0;
					display:block;
					li {
						padding:0;
						> a {
							display:block;
							padding:12px 12px 12px 24px;
							font-size:14px;
							border-bottom:1px solid fade(@azul, 10%);
							transition:all ease-in 0.1s;
							text-transform:uppercase;
							color:darken(@azul, 10%);
							font-weight:500;
							&:hover {
								background-color:@naranjo;
								padding:12px 12px 12px 32px;
								color:white;
							}
						}
				
						&.current-menu-item, &.current-menu-ancestor {
							background-color:#0175C0;
							a {
								color:white;
								&:hover {
									background-color:#0175C0;
								}
							}
							ul.sub-menu {
								> li > a {
									&:hover {
										background-color:lighten(#BEC2E1, 15%);
										border-bottom:1px solid #BEC2E1;
									}
								}
							}
						}

						&.menu-item-type-custom  {
							> a {
								&:hover {
									background-color:#CDE3F1;
									color:darken(@azul, 10%);
									padding:12px 12px 12px 24px;
									cursor:default;
								}
								&:after {
									content:'\f0d7';
									font-family:'FontAwesome';
									font-size:16px;
									display:inline-block;
									//line-height:32px;
									margin-left:8px;
									//margin-right:4px;
									vertical-align:middle;
								}

							}
							&.current-menu-parent {
								> a:hover {
									background-color:#0175C0;
									color:white;
								}
							}
							&.ancla {
								> a {
										&:after {
											content:'';
										}
										&:hover {
											cursor:pointer;
											background-color:#F2F3FA;
										}
								}
							}	
						}

						ul.sub-menu {
							display:block;
								li a {
									padding:12px 12px 12px 32px;
									text-transform:none;
									margin:0;
									background-color:lighten(#BEC2E1, 15%);
									border-bottom:1px solid #BEC2E1;
									line-height:16px;
									color:#0175C0;
									font-weight:300;
									&:hover {
										padding-left:36px;
									}
								}
								
								li.current-menu-item a {
									font-weight:300;
								}

								li.current-menu-item a:before {
									content:'\f0da';
									color: darken(#BEC2E1, 35%);
									font-family:'FontAwesome';
									font-size:14px;
									display:inline-block;
									//line-height:32px;
									margin-left:-8px;
									margin-right:4px;
									vertical-align:middle;
								}
							}
					}
				}
			}
		}
	}

	.redes-sociales {
		width:100px;
		a {
			font-size:24px;
			color:white;
			&:hover {
				color:#FAC657;
			}
		}
	}

	//responsive stuff
	
	.filsa-header-mobile {
		display:none;
	}

	@media screen and (max-width:@scrbr) {
		//body
		min-width:320px;
		padding-top:85px;
		div#wpadminbar {
			position:fixed;
		}
		&.admin-bar {
			.filsa-header-mobile {
				top:46px;
			}
		}
		
		.filsa-header-mobile {
			display:block;
			background-color:#F0C016;
			position: fixed;
			top:0;
			width:100%;
			height:70px;
			z-index:100;
			img {
				position: absolute;
				left:4px;
				top:4px;
			}
		}

		//overflow-x: hidden;
		.camara-header-filsa,
		#bread,
		.filsa-header,
		#sidebar_interior,
		.addthis_toolbox,
		#footer,
		.wrapredes,
		img.wp-image-54806
		 {
			display:none;
		}

		#main-page {
			width:100%;
		}

		#content.grid_12 {
			width:96%;
			margin:0;
			padding:2%;
			
			img {
				max-width:100%;
				height:auto;
			}
		}

		.alignleft,
		.alignright
		 {
			float:none;
			margin:12px 0;
		}

		a.triggernav {
			position: absolute;
			display: block;
			right:8px;
			top:11px;
			color:#005382;
			font-size:26px;
			padding:4px 14px;
			border-radius:5px;
			//border:2px solid @trigcolor;
			text-align:center;
			background-color:white;
			span {
				display:block;
				font-size:11px;
				text-align:center;
				text-transform:uppercase;
				font-weight:500;
			}
		}

		div.invitados-filsa {
			ul.cf {
				padding:12px;
				li {
					img {
						float:none;
						margin-bottom:12px;
					}

					.info {
						float:none;
						width:auto;
						margin:0;
					}
				}
			}
		}

		.mobile-menu-filsa {
			
			transition:max-height 0.5s ease-out;
			overflow:hidden;
			margin-top:70px;
			border-top:1px solid #F0C016;
			
			div.mobile__redes {
				background-color:#F2F3F9;
				overflow:hidden;
				padding:12px;
				border-bottom: 1px solid darken(#CDE3F1, 25%);
				span {
					color:#005382;
					display: inline-block;
					margin-right:6px;
					vertical-align:30%;
				}
				a {
					color:#005382;
					display: inline-block;
					margin-right:12px;
					font-size:32px;
				}
			}

			&.inactive {
				max-height:0;
			}

			&.active {
				max-height:400px;
				height:auto;
				overflow:scroll;	
			}

			ul {
				li {
					a {
						display:block;
						padding:12px;
						color:#005382;
						font-size:15px;
						border-bottom:1px solid rgba(0, 116, 181, 0.1);
						background-color:#CDE3F1;
						font-weight:500;
					}
				}
			}

			
			
			li#menu-item-54759 {
				> a {
					padding-left:16px;
				}
				> a:before {
					content:'\f015';
					color: #005382;
					font-family:'FontAwesome';
					font-size:14px;
					display:inline-block;					
					margin-left:-4px;
					margin-right:4px;
					vertical-align:middle;
				}
				ul.sub-menu {
					display:block;
					> li > a {
						text-transform:uppercase;
					}
					li {
						ul.sub-menu {
							li {
								a {
									background-color:#F2F3F9;
									padding-left:24px;
									text-transform:none;
									font-weight:300;
								}
								ul.sub-menu {
									li {
										a {
											background-color:#F2F3F9;
											padding-left:32px;
											
											
											&:before {
												content:'\f0da';
												color: darken(#BEC2E1, 35%);
												font-family:'FontAwesome';
												font-size:14px;
												display:inline-block;
												//line-height:32px;
												margin-left:-8px;
												margin-right:4px;
												vertical-align:middle;
											}
										}
									}
								}
							}

						}
					}
					li.menu-item-has-children {
								> a:after {
									content:'\f0d7';
									font-family:'FontAwesome';
									font-size:16px;
									display:inline-block;
									//line-height:32px;
									margin-left:8px;
									//margin-right:4px;
									vertical-align:middle;	
								}
							}
				}	
			}

			ul.sub-menu {
				display:none;
			}
		}
	}


	//Contenido móvil filsa
	@media screen and (max-width:@scrbr) {
		#content {
			h1 {
				font-size:28px;
			}

			.linksInteres {
				min-height:0;
			}
			
			.the-content {
				h1 {
					font-size:22px;
					
				}

				h2 {
					font-size:20px;
					margin-bottom:12px;
				}

				h3 {
					font-size:18px;
					margin-bottom:12px;
				}

				h4 {
					font-size:17px;
					margin-bottom:12px;
				}

				table {
					max-width:100%;
					overflow:scroll;
						tr {
							td {
								border-bottom:1px solid #ccc;
								padding:3px 0 6px 0;
							}
						}
				}
			}
		}
	}
} // fin del contenedor para filsa 2015


//Categoría noticias y otros
body#filsa-2015 {
	background-image:none;
	#bread {
		margin-bottom:0;
	}

	.paginador {
		margin:0 auto;
		max-width:100%;
	}

	.pastillaNoticias {
		overflow:hidden;
		margin-bottom:12px;
		max-width:100%;
		height:auto;
		.info {
			h3 {
				font-size:22px;
				line-height:1.3em;
				font-weight:500;
			}	
		}
		

	}
}


//Navegador eventos
body#filsa-2015 {
	#content {
			.navprincipaleventos {	
				a {
					background-color:#f0f0f0;
					color:#333;
					border-bottom:0;
				}
				a.active,
				a:hover {
					background-color:#1075C0;
					color:white;
					border-bottom:0;
					strong {
						font-weight:bold;
						color:white;
					}
				}
			}		
		ul#navfilsa,
		ul.diasfilsa
		 {
		 	margin:0;
		 	padding:0;
			li {
				list-style:none;
				margin:0;
				padding:0;
				display:inline;
				&:before {
					content: '';
				}
			}
			a {
				display:block;
				float:left;
				width:58px;
				margin-right:6px;
				font-size:12px;
				text-align:center;
				padding:4px;
				margin-bottom:6px;
				color:#333;
				background-color:#f0f0f0;
				border-top:1px solid lighten(#555, 35%);
				border-bottom:0;
				
				span {
					line-height:14px;
				}

				span.dia {
					text-transform:uppercase;
				}

				span.ndia {
					display:block;
					font-weight:bold;
					font-size:14px;
				}
			}

			a.activeSlide,
			a:hover,
			a.active {
				background-color:#ECB400;
				color:#000;
				border-bottom:0;
				border-top:1px solid lighten(#555, 35%);
			}
		}
		
		.the-content {
			.filtronav {
				a {
					background-color:#f0f0f0;
					color:#333;
					border-bottom:none;
					strong {
						color:#000;
					}
				}

				a.active,
				a:hover {
					background-color:#ECB400;
					color:#000;
					strong {
						color:#000;
					}
				}
			}	
		}
		
	
	.the-content {
			.filtro, .filtrotema {
				a {
					border-bottom:0;
				}
				a:hover, a.on {
					background-color:#1075C0;
					color:white;
					border-bottom:0;
				}
			}
		}
	}
}

@media screen and(max-width:@scrbr) {
	
	a.link-ancla {
			position: relative;
			display: block;
			top:-60px;
			visibility:hidden;
		}


	ul.calendario-filsa {
		width:100%;
		li {
			width:100%;
		}
	}
}

body.page-id-54646 {
	#content {
		margin-top:24px;
	}
}

.accesos-rapidos {
	overflow:hidden;
	margin-bottom:12px;
	
	ul li {
		list-style:none;
		a {
			display:block;
			width:130px;
			float:left;
			text-transform:uppercase;
			background-color:desaturate(#31B65B, 10%);
			color:white;
			font-family:sans-serif;
			font-weight:normal;
			text-align:center;
			padding:14px 16px;
			border-radius:0;
			font-size:14px;
			margin:0 1px 1px 0;
			height:32px;
			
			&:hover {
				background-color:darken(#31B65B, 15%);
			}
		}

		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(7)
		 {
			a {
				background-color:darken(desaturate(#31B65B, 10%), 8%);
				
				&:hover {
					background-color:darken(#31B65B, 15%);
				}
			
			}
		}
	}
}

@media screen and (max-width:@scrbr) {
	.accesos-rapidos {
		ul li {
		
		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(7)
		 {
			a {
				background-color:desaturate(#31B65B, 10%);
				
				&:hover {
					background-color:darken(#31B65B, 15%);
				}
			
			}
		}


		&:nth-child(1),
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(8)
		 {
			a {
				background-color:darken(desaturate(#31B65B, 10%), 8%);
				
				&:hover {
					background-color:darken(#31B65B, 15%);
				}
			
			}
		}
		}
	}
}


//Ajax eventos 
body#filsa-2015 #content .the-content {
	.eventos-load, .evtodos-load {
		clear:both;
		padding:12px 0 0 0;
		.aviso-load {
			padding:12px;
			background-color:#F2F3FA;
			border-radius:5px;
			text-align:center;
		}
		.eventos-loading {
			padding:12px;
			background-color:#ECB400;
			color:#000;
			border-radius:5px;
			text-align:center;
		}
		.evento {
			padding:12px;
			background-color:#f0f0f0;
			margin-bottom:12px;
				p {
					margin-bottom:0;
					padding-bottom:0;
				}
				a {
					text-decoration:none;
				}
			}
		}	
}

@media screen and(max-width:@scrbr) {
	li.dia.coneventos.normal {
		max-width:100%;
		height:auto;
	}
}


