
.aviso-feria {
	overflow:hidden;
	padding:12px 12px 12px 48px;
	border-left:10px solid desaturate(#FF4086, 10%);
	background-color:#f0f0f0;
	font-size:18px;
	margin:0 0 24px 0;
	color:desaturate(#FF4086, 10%);
	position: relative;
	min-height:40px;
	a {
		color:#0670B9;
		border-bottom:1px dotted #0670B9;
		&:hover {
			background-color:darken(#f0f0f0, 5%);
		}
	}

	&:before {
		position: absolute;
		display: block;
		font-family:'FontAwesome';
		font-size:32px;
		color: #FF4086;
		content: '\f0a4';
		left:4px;
		top:18px;
	}
}

#content a.noticia-portada-feria {
	display:block;
	width:100%;
	border:1px solid #ccc;
	overflow:hidden;
	margin-bottom:24px;
	color:#333;
	
	&.last {
		margin-bottom:6px;
	}
	
	h2 {
		margin-top:0;
		font-family:'Signika', sans-serif;
		line-height:1em;
		color:#0073BA;
	}
	
	img {
		float:left;
		margin-right:12px;
		max-width:320px;

	}

	.twr {
		padding:12px 24px;
	}

	@media screen and (max-width:@scrbr) {
		
		margin-bottom:12px;
		
		img {
				margin-bottom:12px;
		}

		}

}

//botones mas filsa
a.more-filsa {
	display: block;
	padding:8px 12px;
	clear:both;
	background-color:#f0f0f0;
	border-radius:0 0 7px 7px;
	color:#333;
	max-width:230px;
	font-size:12px;
	text-transform:uppercase;
	margin:0 0 24px 0;
	float:right;
	transition:all linear 0.2s;
	
	i {
		color:#0670B9;
		font-size:16px;
		margin-right:6px;
	}

	&:hover {
		background-color: #FF4086;
		color:white;
		i {
			color:white;
		}
	}


}

//cajas Redes 
.redes-filsa {
	clear:both;
	display:flex;
	justify-content:space-between;
	
	h3 {
		
		font-size:14px;
		text-transform:uppercase;
		letter-spacing:2px;
		margin-bottom:12px;
		text-align:center;
		color:white;
		padding:12px;
		
		&.titulo-facebook {
			background-color:#3b5998;
		}	

		&.titulo-twitter {
			background-color:#55acee;
		}

		&.titulo-instagram {
			background-color:#bc2a8d;
		}

	}

	> div {
		width:300px;
		float:left;
	}
	@media screen and (max-width:@scrbr) {
		display:none;
	}
}

.redes-filsa-movil {
	
	display:none;
	clear:both;
	
	a {
		display:block;
		padding:5%;
		width: 90%;
		text-align:center;
		color:white;
		margin-bottom:6px;
		font-size:24px;
		
		&.mr-facebook {
			background-color:#3b5998;
		}
		&.mr-twitter {
			background-color:#55acee;
		}
		&.mr-instagram {
			background-color:#bc2a8d;
		}
	}

	@media screen and (max-width:@scrbr) {
		display:block;
	}
}

