<a href="{{ permalink }}" class="evento-mini key-{{ key }}">
	<div class="twr">
		<p class="fechaevento">{{ start_date }}</p>
		
		<h3>{{ title }}</h3>
		<p class="hora">{{ start_time }}</p>
		<p class="lugar">Lugar: {{ venue }}</p>
	</div>
</a>