<a class="noticia-portada-feria" href="{{ permalink }}">
	
	{{#image}}	
		<img src="{{ image }}" alt="{{ title }}">
	{{/image}}

	<div class="twr">
		<p class="fecha">{{ date }}</p>
		<h2>{{ title }}</h2>
		<div class="excerpt">
			{{{ excerpt }}}
		</div>
	</div>

</a>