body#feria {

	.filsa-header-mobile {
		height:121px;
	}

	.mobile-menu-filsa {
		top:121px;
		margin-top:122px;
	}

	.triggernav.confondo {
		background-color:rgba(0, 0, 0,0.7);
		border-radius:0;
		margin-left:4px;
	}

	&.page-template-page-feria-principal {
		#bread {
			display:none;
		}

		.filsa-header {
			margin-bottom:24px;
		}
	}


	.filsa-header-mobile img {
		min-width:100%;
	}

	#sidebar_interior.menu-feria-especial {

		margin-top:32px;

		ul li ul.sub-menu {
			padding:0 0 0 12px;
			display:block;
		}

		ul li .sub-menu li a {
			padding:6px 0;
		}

		div > ul > li:first-of-type > a {
			background-image:none;
			background-color:#F8547E;
			color:white;
			font-size:18px;
			text-transform:uppercase;
			padding:12px 0 6px 15px;
			height:auto;

			&:before {
				content: '\f015';
				color: #333;
				font-family: 'FontAwesome';
				font-size: 17px;
				margin-left: -4px;
				margin-right: 4px;
				vertical-align: middle;
				font-weight: normal;
			}
		}
	}

	@media screen and (max-width:480px) {
		div#main-page.container_16.cf {
			margin-top:0;
		}

		div#content h1.post-title {
			margin-bottom:0;
		}
	}
}

//Calendario ferias móvil

.new_grid_12 {
	width:689px;
	float:left;
}

@media screen and (max-width:480px) {

	.new_grid_12 {
		width:96%;
		float:none;
	}

}

/* Header cámara */

.camara-header-filsa {
	background-color:#F8F8F8;
	color:#333;
	height:35px;
	box-shadow:0px 0px 10px #555;
	z-index:10;
}

.camara-header-filsa a {
	color:#6c6c6c;
	line-height:30px;
}

.camara-header-filsa .wrapchf {
	width:960px;
	margin:0 auto;
	padding:3px 12px 0 12px;
}

.camara-header-filsa img {
	float:left;
	margin:3px 10px 0 12px;
}

.camara-header-filsa div.feriaslink {
	margin-top:1px;
	margin-right:124px;
	float:right;
}

.camara-header-filsa div.feriaslink a {
	color:#333;
	font-size:14px;
	text-transform:uppercase;
}

// .camara-header-filsa div.feriaslink a:hover {
// 	text-decoration:underline;
// }	

//General para eventos con AJAX

.navprincipaleventos {	
	a {
		background-color:#f0f0f0;
		color:#333;
		border-bottom:0;
	}
	a.active,
	a:hover {
		background-color:#1075C0;
		color:white;
		border-bottom:0;
		strong {
			font-weight:bold;
			color:white;
		}
	}
}

ul#navfilsa,
ul.diasfilsa
{
	margin:0;
	padding:0;
	li {
		list-style:none;
		margin:0;
		padding:0;
		display:inline;
		&:before {
			content: '';
		}
	}
	a {
		display:block;
		float:left;
		width:58px;
		margin-right:6px;
		font-size:12px;
		text-align:center;
		padding:4px;
		margin-bottom:6px;
		color:#333;
		background-color:#f0f0f0;
		border-top:1px solid lighten(#555, 35%);
		border-bottom:0;

		span {
			line-height:14px;
		}

		span.dia {
			text-transform:uppercase;
		}

		span.ndia {
			display:block;
			font-weight:bold;
			font-size:14px;
		}
	}

	a.activeSlide,
	a:hover,
	a.active {
		background-color:#ECB400;
		color:#000;
		border-bottom:0;
		border-top:1px solid lighten(#555, 35%);
	}
}

.the-content {
	.filtronav {
		a {
			background-color:#f0f0f0;
			color:#333;
			border-bottom:none;
			strong {
				color:#000;
			}
		}

		a.active,
		a:hover {
			background-color:#ECB400;
			color:#000;
			strong {
				color:#000;
			}
		}
	}	
}


.the-content {
	.filtro, .filtrotema {
		a {
			border-bottom:0;
		}
		a:hover, a.on {
			background-color:#1075C0;
			color:white;
			border-bottom:0;
		}
	}
}

//Link para los PAVOS

a.boton-filsa-2016 {
	display:block;
	padding:12px;
	font-weight:normal;
	font-family:'Signika', sans-serif;
	font-size:24px;
	color:#333;
	background-color:#2DD4C8;
	border:1px solid #333;
	margin:12px 0;
	transition:all linear 0.3s;
	
	&:hover {
		background-color:darken(#2dd4c8, 30%);
		color:white;
		padding:12px 6px 12px 18px;
	}
}
