section.eventos {
    background-color:#f0f0f0;
    padding:24px 0;
    margin:24px 0;
}

.eventos.row {
    display:flex;
    justify-content: space-between;
}

.evento-home-mini {
    display:block;
    overflow:hidden;
    border:1px solid @azul_menu;
    margin-right:6px;
    background-color:white;
    padding-top:12px;
    padding-bottom:12px;

    h3 {
        margin:0 0 12px 0;
    }

    p {
        margin:0;
    }

    .interior-evento {
        
    }

    &:hover {
        text-decoration:none;
        background-color:#f0f0f0;
    }
}