.category-items {
    clear:both;
}

article.in-category-item {
    margin-bottom:12px;
    max-height:360px;
    overflow:hidden;
    
    h2 {
        font-size:24px;
        margin-top:0;
    }

    img {
        max-width:100%;
        height:auto;
        max-height:150px;
        overflow:hidden;
    }

}

.category-header {
    margin:0 0 24px 0;
    padding-bottom:0;
    border:1px solid @gris;
    //border-top:1px solid @gris;

    h1 {
        color:@azul_menu;
    }
    .catdesc {
        font-size:16px;
        margin-top:24px;
        strong {
            //color:@azul_menu;
        }
        p {
            margin-bottom:1.8em;
        }
    }
}

article.in-category-item.solo-link-item {
    .txt h2 {
        margin-bottom:12px;
    }
}

.pagenavigation {
    text-align:center;
}

.item-mini-noticia.item-permanente {
    a {
        background-color:fade(@azul_menu, 15%);
        h2 {
            margin-bottom:12px;
        }
    }
}