//Interiores

@import '../bs-general/bs-init.less';
@import '../bs-general/bs-colaboradores.less';
@import '../bs-general/bs-eventos.less';
@import 'bs-archive.less';
@import '../vendors/wpcore.less';
@import '../button-shortcode.less';

.sidebar-menu-feria {
    margin-top:24px;
    margin-left:-15px;
    
    div > ul > li > a:before {
                    content: '\f015';
                    color: white;
                    font-family: 'FontAwesome';
                    font-size: 17px;
                    margin-left: -19px;
                    margin-right: 4px;
                    vertical-align: middle;
                    font-weight: normal;
                }

    div ul {
        > li {
            text-transform:uppercase;
            font-family:'Signika', sans-serif;
            font-size:18px;
            font-weight:300;
            > a {
                color:white;
                background-color:#C36416;
                padding:10px 15px 10px 24px;
                line-height:20px;
                &:hover {
                    background-color:#55431F;
                }
            }
            ul {
                padding:0;
                li {
                    list-style:none;
                    font-size:16px;
                    a {
                        display:block;
                        padding:12px 12px 12px 24px;
                        background-color:#EEE5C8;
                        color:#59461E;
                        border-bottom:1px solid darken(#EEE5C8, 20%);
                        &:hover {
                            text-decoration:none;
                            background-color:#f0f0f0;
                        }
                    }
                }
            }
        }
    }
}

.bs-mobile-menu-ferias > .main-navbar {
    .navbar-header {
        background-color:darken(#F4F0DB, 10%);

        .brand {
            width:70px;
            padding:12px;
            float:left;
            img {
                width:45px;
            }
        }
    }

    .navbar-toggle {
        border:2px solid #55431F;
        .icon-bar {
            background-color:#55431F;
        }
    }

    .navbar-collapse {
        padding:0;
    }

    ul.navbar-nav {
        margin:0;
    }

    li > a {
        font-weight:300;
        background-color:#F4F0DB;
        border-bottom:1px solid darken(#f4f0db, 10%);
    }
}

article.post,
article.page {
    img.wp-post-image {
        margin-bottom:12px;
        width:100%;
        height:auto;
    }

    header {
        margin:24px 0 24px 0;
        time {
            font-size:16px;
            color:@gris_oscuro;
        }
        h1 {
            color:@azul_menu;
            margin-top:0;
        }
    }

    .text-content {
        font-size:18px;
        
        img {
            max-width:100%;
            height:auto;
            margin:0 auto;
        }
    }
}

.text-content {
    font-size:16px;
    
    img {
        max-width:100%;
        height:auto;
        margin:0 auto;
    }
}

.bs-related {
    @media screen and (min-width:@screen-md) {
        margin-top:48px;
    }
}

.item-mini-noticia {
    a {
        display:block;
        border:1px solid @gris;
        background-color:white;
        margin-bottom:12px;
        &:hover {
            text-decoration:none;
            background-color:#f0f0f0;
        }
    }

    .txt {
        padding:12px;
    }
    
    h2 {
        font-size:22px;
        margin:0;
    }
    img {
        max-width:100%;
        height:auto;
        margin-bottom:12px;
    }
}

@media screen and (max-width:@screen-sm) {
    article.post {
        header {
            h1 {
                font-size:26px;
            }
        }
    }
}

.catblock {
    display:flex;
}

.catitem {
    padding:0;
    a {
        display:block;
        padding:12px;
        border:1px solid @gris;
        &:hover {
            text-decoration:none;
            background-color:#f0f0f0;
        }
        h3 {
            font-size:18px;
        }
    }
}