//Interiores

@import '../bs-general/bs-init.less';
@import '../bs-general/bs-colaboradores.less';

.sidebar-menu-feria {
    margin-top:24px;
    margin-left:-15px;
    
    div > ul > li > a:before {
                    content: '\f015';
                    color: white;
                    font-family: 'FontAwesome';
                    font-size: 17px;
                    margin-left: -19px;
                    margin-right: 4px;
                    vertical-align: middle;
                    font-weight: normal;
                }

    div ul {
        > li {
            text-transform:uppercase;
            font-family:'Signika', sans-serif;
            font-size:18px;
            font-weight:300;
            > a {
                color:white;
                background-color:#C36416;
                padding:10px 15px 10px 24px;
                line-height:20px;
                &:hover {
                    background-color:#55431F;
                }
            }
            ul {
                padding:0;
                li {
                    list-style:none;
                    font-size:16px;
                    a {
                        display:block;
                        padding:12px 12px 12px 24px;
                        background-color:#EEE5C8;
                        color:#59461E;
                        border-bottom:1px solid darken(#EEE5C8, 20%);
                        &:hover {
                            text-decoration:none;
                            background-color:#f0f0f0;
                        }
                    }
                }
            }
        }
    }
}

.bs-mobile-menu-ferias > .main-navbar {
    .navbar-header {
        background-color:darken(#F4F0DB, 10%);

        .brand {
            width:70px;
            padding:12px;
            float:left;
            img {
                width:45px;
            }
        }
    }

    .navbar-toggle {
        border:2px solid #55431F;
        .icon-bar {
            background-color:#55431F;
        }
    }

    .navbar-collapse {
        padding:0;
    }

    ul.navbar-nav {
        margin:0;
    }

    li > a {
        font-weight:300;
        background-color:#F4F0DB;
        border-bottom:1px solid darken(#f4f0db, 10%);
    }
}

.text-content {
    font-size:16px;
    
    img {
        max-width:100%;
        height:auto;
    }
}