//Interiores

@import '../bs-general/bs-init.less';
@import '../bs-general/bs-colaboradores.less';
@import '../bs-general/bs-eventos.less';
@import '../bs-general/bs-menus.less';
@import 'bs-archive.less';
@import '../vendors/wpcore.less';
@import '../button-shortcode.less';
@import '../galleria.classic.less';
@import '../bs-general/bs-breadcrumb.less';
@import '../bs-general/bs-text.less';
@import '../bs-general/bs-socios.less';

.sidebar-menu-feria {
    margin-top:24px;
    margin-left:-15px;
    
    div > ul > li > a:before {
                    content: '\f015';
                    color: white;
                    font-family: 'FontAwesome';
                    font-size: 17px;
                    margin-left: -19px;
                    margin-right: 4px;
                    vertical-align: middle;
                    font-weight: normal;
                }

    div ul {
        > li {
            text-transform:uppercase;
            font-family:'Signika', sans-serif;
            font-size:18px;
            font-weight:300;
            > a {
                color:white;
                background-color:#C36416;
                padding:10px 15px 10px 24px;
                line-height:20px;
                &:hover {
                    background-color:#55431F;
                }
            }
            ul {
                padding:0;
                li {
                    list-style:none;
                    font-size:16px;
                    a {
                        display:block;
                        padding:12px 12px 12px 24px;
                        background-color:#EEE5C8;
                        color:#59461E;
                        border-bottom:1px solid darken(#EEE5C8, 20%);
                        &:hover {
                            text-decoration:none;
                            background-color:#f0f0f0;
                        }
                    }
                }
            }
        }
    }
}

.bs-mobile-menu-ferias > .main-navbar {
    .navbar-header {
        background-color:darken(#F4F0DB, 10%);

        .brand {
            width:70px;
            padding:12px;
            float:left;
            img {
                width:45px;
            }
        }
    }

    .navbar-toggle {
        border:2px solid #55431F;
        .icon-bar {
            background-color:#55431F;
        }
    }

    .navbar-collapse {
        padding:0;
    }

    ul.navbar-nav {
        margin:0;
    }

    li > a {
        font-weight:300;
        background-color:#F4F0DB;
        border-bottom:1px solid darken(#f4f0db, 10%);
    }
}

.bs-related {
    @media screen and (min-width:@screen-md) {
        margin-top:48px;
    }
}

.item-mini-noticia {
    a {
        display:block;
        border:1px solid @gris;
        background-color:white;
        margin-bottom:12px;
        &:hover {
            text-decoration:none;
            background-color:#f0f0f0;
        }
    }

    .txt {
        padding:12px;
    }
    
    h2 {
        font-size:22px;
        margin:0;
    }
    img {
        max-width:100%;
        height:auto;
        margin-bottom:12px;
    }
}

.item-related-noticia {
    height:160px;
    position: relative;
    overflow:hidden;
    margin-bottom:24px;

    &:before {
        content:'';
        display:block;
        position: absolute;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.3);
        z-index:10;
    }

    img {
        position: absolute;
        top:0;
        left:0;
        z-index:0;
    }
    .txt {
        position: absolute;
        top:0;
        left:0;
        padding:12px;
        z-index:20;
        color:white;
        h3 {
            font-size:22px;
            text-shadow:0 1 1 #444;
            margin:0;
        }
    }
}

@media screen and (max-width:@screen-sm) {
    article.post {
        header {
            h1 {
                font-size:26px;
            }
        }
    }
}

.catblock {
    display:flex;
    @media screen and (max-width:@screen-sm) {
        display:block;
        .catitem {
            margin-bottom:12px;
        }

        h2.catblock-title {
            font-size:24px;
            padding:0 15px;
        }
    }
}

.catitem {
    padding:0;
    a {
        display:block;
        padding:12px;
        border:1px solid @gris;
        &:hover {
            text-decoration:none;
            background-color:#f0f0f0;
        }
        h3 {
            font-size:18px;
        }
    }
}

.galeria-imagenes {
    min-height:400px;
    min-width:100%;
    background-color:@gris;
    margin-bottom:24px;
    .gallery {
        min-height:400px;
    }
}