@rojofilvina2018: #C3361B;

body.filvina2018 {
  .sidebar-menu-feria div ul > li > a {
    background-color:@rojofilvina2018;
  }
  .bs-mobile-menu-ferias > .main-navbar .navbar-header {
    background-color:@rojofilvina2018;
  }
}
