@rojofilvina2018: #C3361B;
@azulfilvina2018: #3E61A0;

body.filvina2018 {
  .sidebar-menu-feria div ul > li > a {
    background-color:@rojofilvina2018;
  }
  .bs-mobile-menu-ferias > .main-navbar .navbar-header {
    background-color:@rojofilvina2018;
  }
  .feria-navbar {
    background-color:@rojofilvina2018;
    border-top:0;
    border-bottom:0;
    ul li.home a {
      font-size:0;
      &:before {
          content: '\f015';
          font-family: 'FontAwesome';
          font-size: 18px;
          color: white;
          font-style: normal;
          font-weight: normal;
          line-height: 20px;
          vertical-align: top;
      }
    }
    ul li {
      display:table;
    }
    ul li a {
      text-transform:uppercase;
      font-family:'Signika', sans-serif;
      font-size:18px;
      display:table-cell;
      &:hover {
        background-color:@azulfilvina2018;
      }
    }
  }
  footer.site-footer {
    background-image:none;
    background-color: #fff;
  }
}

//Menu móvil
body.filvina2018 {
      .mobile-home {
        display:none;
      }
  @media screen and (max-width:@screen-sm) {
      .mobile-home {
        position: absolute;
        color:white;
        font-size:24px;
        top:10px;
        left:10px;
        display:block;
        &:hover {
          color:lighten(@rojofilvina2018,20%);
        }
      }
   }
  .navbar-toggle {
    border-color:white;
    margin-right:26px;
    border-radius:5px;
    &:focus, &:hover {
      background-color:@azulfilvina2018;
    }
    .labelmenu {
      display:none;
    }
  }
  .container.feria-mobile-nav {
    padding:0;
  }
  .navbar-mobile .navbar-collapse {
    border-top:0;
    padding:0;
    ul.navbar-nav {
      margin:0;
    }
    ul li {
      display:block;
    }
    ul li.home {
      display:none;
    }
    ul li a {
      display:block;
    }
  }
}

//Contenido

body.filvina2018 {
  h1.post-title {
    color: @azulfilvina2018;
    text-transform:none;
  }
}
